svg {
	background-color: #111;
	box-shadow: 0px 0px 20px 20px #111;
}

body {
	width: 550px;
	margin: 0 auto;
}

#title {
	text-align: center;
	color: #EEE;
	margin: 40px;
	font-size: 20px;
	font-family: Unispace;
}

div {
	width: 550px;
}

circle {
	fill: rgba(255,255,255,0.35);
}

circle:hover {
	fill: rgba(220,35,60,1);
}

html {
	background-color: #333;
}

/*@font-face {
    font-family: 
    src: url(sansation_light.woff);
}*/